# Node
node_modules/
npm-debug.log
yarn-error.log

# Web Gateway Data
data/
devices.json

# Frontend build
frontend/dist/
frontend/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Docker
.docker
docker-compose.override.yml

# IDE and OS
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db